/*---------------------------Overall -----------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
  body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: #111;
    font-size: 11pt;
  }
  @-webkit-keyframes hidRed {  
    0% { color: #000; }
    5% { color: #100; }
    10% { color: #200; }
    15% { color: #300; }
    20% { color: #400; }
    25% { color: #500; }
    30% { color: #600; }
    35% { color: #700; }
    40% { color: #800; }
    45% { color: #900; }
    50% { color: #a00; }
    55% { color: #b00; }
    60% { color: #c00; }
    65% { color: #d00; }
    70% { color: #e00; }
    75% { color: #f00; }
    80% { color: #f10; }
    85% { color: #f01; }
    90% { color: #f20; }
    95% { color: #f55; }
    100% { color: black; }
  } 
  @-webkit-keyframes rev {  
    0% { color: #fff; }
    87% { color: #fbb; }
    92% { color: #f77; }
    96% { color: #f44; }    
    100% { color: #f11; }

    
  }   
  h6 {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    -webkit-animation-name: hidRed;  
    -webkit-animation-duration: 9s; 
    color: #000;
  }
  span {
    background-color: #000;
    color: #f00;
    -webkit-animation-name: rev;  
    -webkit-animation-duration: 4s; 
  }
  .h {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-size: 18px;
    -webkit-animation-name: hidRed;  
    -webkit-animation-duration: 10s; 
  }
  .r {
    font-family: "Source Sans Pro", sans-serif;
    color: #f00;
    font-size: 18px;
    -webkit-animation-name: rev;  
    -webkit-animation-duration: 110s; 
  }
/*---------------------------Nav-Bar -----------------------------------*/
  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    transition-duration: 0.5s;
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #000;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  .topnav .current-page {
    display: none;
  }

  /*---------------------------Responsive Nav-Bar -------------------------*/
    @media screen and (max-width: 600px) {
      .topnav a {
        display: none;
      }

      .topnav.responsive a.active {
        display: none;
      }

      .topnav a.icon {
        background-color: #000;
        color: #fff;
        float: right;
        display: block;
        z-index: 1;
      }
      .topnav a.current-page {
        display: inline-block;
        background-color: #200;
        color: #fff;
        float: left;
        z-index: 1;
      }
      .topnav.responsive a.current-page {
        display: inline-block;
        background-color: #200;
        color: #fff;
        z-index: 1;
      }
      .topnav.responsive {
        position: relative;
      }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        color: #fff;
        background-color: #000;
      }
      .topnav.responsive a:hover {
        float: none;
        display: block;
        text-align: center;
        color: #fff;
        background-color: #55555555;
      }
    }
/*---------------------------Home ---------------------------------------*/
  #homeT {
    position: absolute;
    padding: 30px;
    color: #000;
    font-size: 3.9vw;
  }
  .home {
    position: absolute;
    width: 100%;
    height: auto;
  }
/*---------------------------Footer -------------------------------------*/
  .footer-distributed{
    background-color: #000;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    margin-top: 80px;
  }

  .footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .footer-links a:hover {
    transition-duration: 0.5s;
    color: #ff1111;
  }

  /* Footer links */

  .footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
  }

  .footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
  }

  .footer-distributed p.footer-links a:hover {
    transition-duration: 0.3s;
    color:  #f00;
  }

  .footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 220px;
  }

  .footer-distributed .footer-right a{
    display: inline-block;
    width: auto;
    height: 36px;
    font-size: 20px;
    text-align: right;
    line-height: 36px;
    margin-left: 3px;
  }

  @media (max-width: 600px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      text-align: center;
    }

    .footer-distributed .footer-right{
      float: none;
      margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
      line-height: 1.8;
    }
  }

  .vfooter-img{
    background-color: #fff;
    width: 35px;
    height: 35px;
  }
  .bfooter-img{
    background-color: #fff;
    width: 35px;
    height: 35px;
  }
  .gfooter-img{
    background-color: #fff;
    width: 35px;
    height: 35px;
  }
  .ofooter-img{
    background-color: #fff;
    width: 35px;
    height: 35px;
  }
  .rfooter-img{
    background-color: #fff;
    width: 35px;
    height: 35px;
  }

  .vfooter-img:hover {
    transition-duration: 0.3s;
    background-color: #0077a5;
    width: 35px;
    height: 35px;
  }
  .bfooter-img:hover {
    transition-duration: 0.3s;
    background-color: #3b5998;
    width: 35px;
    height: 35px;
  }
  .gfooter-img:hover {
    transition-duration: 0.3s;
    background-color: #6abf4d;
    width: 35px;
    height: 35px;
  }
  .ofooter-img:hover {
    transition-duration: 0.3s;
    background-color: #ff8800;
    width: 35px;
    height: 35px;
  }
  .rfooter-img:hover {
    transition-duration: 0.3s;
    background-color: #ff0000;
    width: 35px;
    height: 35px;
  }
/*---------------------------Container ----------------------------------*/
  h2, h3 {
    text-align: center;
    font-size: 44px;
    margin: 0;
    padding: 40px;
    line-height: 1; 
  }
  h3{
    font-size: 24px;
  }
  .container {
    margin: 30px auto;
    background-color: #000;
    padding: 30px;
    box-sizing: border-box; 
  }

  .container {
    max-width: 1100px;
    *zoom: 1; 
  }

  .container:before, .container:after {
    content: " ";
    display: table; 
  }
  .container:after {
    clear: both; 
  }
  
  .column {
    font-size: 18px;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding:10px; 
  }

  .three-items {
    text-align: center; 
  }
  .min-con {
    align-items: flex-end;
    width: 40%;
    height: auto;
  }

  .item-con {
    padding: 30px;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 1%;
    background: #111;
    min-width: 150px;
  }

  .item-con-long {
    padding: 30px;
    display: inline-block;
    height: auto;
    width: 24%;
    margin: 1%;
    background: #000;
    min-width: 150px;
  }

  .item {
    align-content: all;
    position: relative;
    align-self: center;
    display: inline-block;
    width: 20%;
    margin: 1%;
    height: 120px;
    background: #fc0000;
    min-width: 150px; 
  }

  .item-img {
    display: inline-block;
    height: auto;
    width: 26%;
    margin: 1%;
    background: #111;
    min-width: 150px;
  }

  .item-img img{
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 1%;
    color: #000;
    background: #111;
    min-width: 150px;
  }

  .item-long {
    display: inline-block;
    height: 200px;
    width: 20%;
    margin: 1%;
    background: #eee;
    min-width: 150px;
  }

  @media (max-width: 800px) {
    .column {
      float: none;
      width: auto; 
    } 
  }