/*---------------------------HTML---------------------------------------*/
  @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
  body {
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    background-color: #111;
    font-size: 11pt;
  }

  p {
    font-size: 1.2em;
  }

  h2, h3 {
    text-align: center;
    font-size: 44px;
    margin: 0;
    padding: 40px;
    line-height: 1; 
  }
  h3{
    font-size: 24px;
  }
/*---------------------------Body---------------------------------------*/
  .container {
    flex: all;
    margin: 30px auto;
    background-color: #000;
    padding: 30px;
    box-sizing: border-box;
    max-width: 90%;
    *zoom: 1;  
  }
  .container:before, .container:after {
    content: " ";
    display: table; 
  }
  .container:after {
    clear: both; 
  }
  
  .column {
    font-size: 18px;
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding:10px; 
  }

  .three-items {
    text-align: center; 
  }
  .min-con {
    align-items: flex-end;
    width: 40%;
    height: auto;
  }

  .item-con {
    padding: 30px;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 1%;
    background: #111;
    min-width: 150px;
  }


  .item-cont-t {
    display: inline-block;
    height: auto;
    width: 100%;
    min-width: 600px;
    margin: 1%;
    background: #000;
    min-width: 150px;
  }

  .item-cont {
    float: right;
    padding: 5px 25px;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 1%;
    background: #111;
    min-width: 150px;
  }

  .item-cont h3 {
    color: #f11;
    float: left;
    font-size: 18px; 
    padding: 26px 10px;
  }

  .map-con{
    float: right; 
    height: 100%; 
    width: 50%; 
    display: inline-block;
  }

  .left-items {
    float: left; 
    width: 40%;
    text-align: center; 
  }


  @media (max-width: 600px) {
    .left-items{
      width: 100%;
      margin: 10px;
      float: unset; 
    }
    .item-cont {
      float: unset;
    }
    .map-con{
      float: unset; 
      width: 100%;
    }
  }


  .item-cont h3::after {
    font-size: 22px;
    content: " :";
  }

  .item-con-long {
    padding: 30px;
    display: inline-block;
    height: auto;
    width: 24%;
    margin: 1%;
    background: #000;
    min-width: 150px;
  }

  .item {
    align-content: all;
    position: relative;
    align-self: center;
    display: inline-block;
    width: 20%;
    margin: 1%;
    height: 120px;
    background: #fc0000;
    min-width: 150px; 
  }

  .item-img {
    display: inline-block;
    height: auto;
    width: 26%;
    margin: 1%;
    background: #111;
    min-width: 150px;
  }


  .item-img img{
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 1%;
    color: #000;
    background: #111;
    min-width: 150px;
  }

  @media (max-width: 600px) {
    .item-img img{
      width: 100%;
    }
  }


  .item-img img:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    transition-delay: 0.1s;
  }

  .item-long {
    display: inline-block;
    height: 200px;
    width: 20%;
    margin: 1%;
    background: #eee;
    min-width: 150px;
  }

  @media (max-width: 800px) {
    .column {
      float: none;
      width: auto; 
    } 
  }

  .edu {
    margin: 10px;
    align-self: center;
    display: inline-block;
    width: 20%;
    padding: 5px;
    height: 120px;
    background: #fc0000;
    min-width: 150px; 
  }

  .edu p{
    font-size: 18px;
  }

  .skills-con {
    width: 68%;
    padding: 4% 15%;
  }

  .skills {
    top: 9px;
    text-align-last: left;
    transition: width 2s;
    padding: 0% 5%;
    margin: 15px;
    width: 18%;
    height: 50px;
    font-size: 22px;
    color: #fff;
    background-color: #f00;
  }

  .skills *{
    margin: 10%;
    margin-top: 50%;
    animation: 60s steps(60) infinite;
  }

  .skills span {
    transition-duration: 1s;
    text-align-last: right;
    color: #f0000000;
  }
  .skills:hover span {
    margin-left: 40%;
    color: #000;
  }

  @media (max-width: 600px) {
    .skills-con {
      width: 93%;
      padding: 4% 5%;
      margin: 2%;
    }
    .skills {
      width: 40%;
    }
  }

  #skl-p:hover {
    width: 50%;
  }
  #skl-j:hover {
    width: 70%;
  }
  #skl-h:hover {
    width: 80%;
  }
  #skl-c:hover {
    width: 56%;
  }
  #skl-js:hover {
    color: #111;
    background-color: #ddd;
  }
  #skl-m:hover {
    width: 120%;
  }
/*---------------------------Nav-Bar -----------------------------------*/
  .t-nav {
    height: auto;
    overflow: auto;
    background-color: #363636; 
  }
  .t-nav a {
    padding: 11px 20px;
    color: #ddd;
    align-self: center;
    text-decoration: none;
    font-size: 18px;
  }
  .t-nav ul {
    margin: 0px;
    overflow: auto;
    margin-left: 37.5%;
  }
  .t-nav ul li {
    padding: 11px 0px;
    list-style-type: none;
    float: left;
  }
  .t-nav a:hover {
    transition-duration: 0.2s;
    background-color: #ddd;
    color: black;

  }
  .t-nav img {
    text-align: center;
    float: left;
    display: block;
  }
  .t-nav .active {
    color: #000;
    background-color: #eee; 
  }

  @media (max-width: 600px) {
      .t-nav img {
        float: none;
      }
      .t-nav .active {
        flex: all;
        background-color: #eee; 
      }
      .t-nav ul {
        margin: 0px;
      }
    }
/*---------------------------Footer ------------------------------------*/
  .foot{
    bottom: 10%;
    background-color: #000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 42px 40px;
    margin-top: 70px;
  }

  .foot .left-foot p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
  }
  .foot-links a:hover {
    transition-duration: 0.5s;
    color: #ff1111;
  }

  /*==Footer ----------------links------*/

    .foot p.foot-links{
      font-size:18px;
      font-weight: bold;
      color:  #ffffff;
      margin: 0 0 10px;
      padding: 0;
    }

    .foot p.foot-links a{
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
      color:  inherit;
    }

    .foot p.foot-links a:hover {
      transition-duration: 0.3s;
      color:  #D91414;
    }

    .foot .right-foot{
      float: right;
      margin-top: 6px;
      max-width: 220px;
    }

    .foot .right-foot a{
      display: inline-block;
      width: auto;
      height: 36px;
      font-size: 20px;
      text-align: right;
      line-height: 36px;
      margin-left: 3px;
    }
  /*==Footer ----------------responsive------*/
    @media (max-width: 600px) {
      .foot .left-foot,
      .foot .right-foot{
        text-align: center;
      }

      .foot .right-foot{
        float: none;
        margin: 0 auto 20px;
      }

      .foot .left-foot p.foot-links{
        line-height: 1.8;
      }
    }
  /*==Footer ----------------icon hover------*/
    .v-foot-icon{
      background-color: #fff;
      width: 35px;
      height: 35px;
    }
    .b-foot-icon{
      background-color: #fff;
      width: 35px;
      height: 35px;
    }
    .g-foot-icon{
      background-color: #fff;
      width: 35px;
      height: 35px;
    }
    .o-foot-icon{
      background-color: #fff;
      width: 35px;
      height: 35px;
    }
    .r-foot-icon{
      background-color: #fff;
      width: 35px;
      height: 35px;
    }

    .v-foot-icon:hover {
      transition-duration: 0.3s;
      background-color: #0077a5;
      width: 35px;
      height: 35px;
    }
    .b-foot-icon:hover {
      transition-duration: 0.3s;
      background-color: #3b5998;
      width: 35px;
      height: 35px;
    }
    .g-foot-icon:hover {
      transition-duration: 0.3s;
      background-color: #6abf4d;
      width: 35px;
      height: 35px;
    }
    .o-foot-icon:hover {
      transition-duration: 0.3s;
      background-color: #ff8800;
      width: 35px;
      height: 35px;
    }
    .r-foot-icon:hover {
      transition-duration: 0.3s;
      background-color: #ff0000;
      width: 35px;
      height: 35px;
    }