/*---------------------------General----------------------------------*/
  body,
  html {
    background-color: #1111112f;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
    height: 100%;
    width: 100%;
  }

  body {
    color: #080808eb;
    font-size: 16px;
    line-height: 1.7;
    background-color: #eeeeee;
  }

  a {
    height: 40px;
    width: 200px;
    color: #999999;
    text-decoration: none;
  }

  a:hover {
    color: #aaaaaaff;
    background-color: #111111;
    transition-delay: 0.1s;
    transition-duration: 0.6s;
  }

  img { max-width: 100%; }
    *:focus {
    outline: none;
  }

  h1 {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #000000;
    font-size: 40px;
    font-family: 'Arial';
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    color: #000000;
    font-family: 'Arial';
  }

  h3, h4, h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
    font-family: 'Arial';
  }

  p {
    text-align: left;
    margin-left: 20px;
    font-size: 17px;
    line-height: 35px;
    word-spacing: 2px;
  }

  li {
    font-size: 18px;
  }

  .headings {
    position: relative;
    text-align: center;
  }

  .paragraphs {
    position: absolute;
    left: 80px;
    top: 260px;
    right: 120px;
    font-size: 20px;
  }

  .content {
    position: absolute;
    width: 100%;
    height: 90%;
  } 
/*---------------------------Header & Footer -------------------------*/
  .for-header {
    position: fixed;  
    bottom: 1px;
    width: 100%;
    height: 34px;
    opacity: 0.9;
    z-index: 2;
    top: 0;
    left: 0;
    border-bottom: 2px solid #111111;
    display: block;
    background: #444444;
  }

  .nav-items {
    position: relative;
    top: 0%;
    padding-top: 9px;
    padding-left: 15px ;
    padding-bottom: 3px;
    font-size: 21px;
    padding-right: 40px;;
    color: #ffffff; 
    display: all;
  }

  .activePage {
    position: relative;
    top: 0px;
    padding-bottom: 0.5px;
    padding-top: 7px;
    padding-right: 40px;
    padding-left: 15px ;
    font-size: 24px;
    color: #111;
    background-color: #ffffff95;
  }

  .for-footer {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    height: 40px;
    opacity: 0.9;
    border-bottom: 1px solid #111111;
    background: #999999;
  } 
/*---------------------------Home-------------------------------------*/
  #home {
    background: url('images/home.jpeg');
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: 100%;


  }

  .birds {
    position: absolute;
    top: 10%;
    size: 60%;
    transition-duration: 4s;
    transition-timing-function: cubic-bezier(.36,1.07,.56,.76);
  }

  .birds:hover {
    top: -20%;
  }

  .home-content{
    position: absolute;
    text-align: center;
    min-width: 500px;
    left: 55%;
    top: 69%;
    padding: 30px;
    background: #aaaaaa75;
    outline: 4px #aaaaaa75 dotted;
    outline-offset: 4px;
  }

  .about {
    top: 30%;
    position: relative;
    min-width: 500px;
    background-color: #ffffff
  }

  .about-img {
    float: left;
    margin-left: 90px;
    padding-left: 10px;
    padding-right: 10px;
    border: 4px solid;
    width: 450px
  }

  .about-name {
    position: absolute;
    top: 120px;
    left: 55%;
  }

  .w-content {
    position: absolute;
    top: 210px;
    left: 55%;
  }

  .for-home {
    font-size: 29px;
    position: absolute;
    top: 160%;
    left: 47%;
    padding: 30px;
    background-color: #222222da;
  }

  .about-items {
    position: relative;
    top: 0%;
    padding: 20px;
    color: #ffffff; 
    display: all;
  } 
/*---------------------------Portfolio--------------------------------*/
  .container {
    position: absolute;
    top: 105%;
    width: 100%;
    height: 90%;
    background-color: #11111111;


  }
  .column {
    position: relative;
    float: left;
    width: 50%;
    max-width: 33%;
    height: 500px;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border: 2px solid;
    padding: 10px;
    text-align: center;
  }

  .column-text {
    position: absolute;
    float: left;
    width: 50%;
    height: auto;
    background-color: #66666655;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid;
    text-align: left;
    padding: 30px;
    width: 410px;
    height: 460px;
  }

  .column-text:hover {
    transition-delay: 0.1s;
    transition-duration: 2s;
    background-color: #00000066;
    color: #ffffffee;
    border: 2px double;
  }

  .small-column {
    position: relative;
    float: left;
    background-color: #33333355;
    margin: 30px;
    margin-left: 180px;
    padding: 70px;
    border: 2px solid;
    text-align: left;
    padding: 30px;
    width: 200px;
    height: 280px;
  }

  .small-column:hover {
    transition-delay: 0.1s;
    transition-duration: 2s;
    background-color: #00000066;
    color: #ffffffee;
    border: 2px double;
  }

  .main-img {
    position: relative;
    float: left;
    top: 77px;
    width: 550px;
    height: 400px;
    margin: 30px;
    border: 0.1px solid;
    margin-bottom: 200px;
  }
  
  .tiny-long {
    position: relative;
    float: left;
    max-width: 400px;
    max-height: 160px;
    margin-left: 180px;
    padding: 6px;
    border: 3px double;
    transition: transform .2s;
    margin: 160 auto;
  }

  .tiny-long:hover {
    transform: scale(2);
  }

  .evolution {
    position: absolute;
    top: 186%;
    left: 0%;
    width: 99%;
    height: 300px;
    max-height: 500px;
    padding: 1px;
  }


  .tiny {
    position: relative;
    float: left;
    max-width: 180px;
    max-height: 160px;
    margin-left: 160px;
    padding: 6px;
    border: 3px double;
    transition: transform .2s;
    margin: 160 auto;
  }

  .tiny:hover {
    transform: scale(2.25);

  }

  .CV {
    position: relative;
    float: left;
    padding: 20px;
    border: 2px solid;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 150px; 
    border-radius: 150px; 
    margin: 100px; 
    margin-bottom:0px; 
    font-size: 50px;
    text-align: center;
    background-color: #113344ff;
    transition: transform .2s;
  }
  .CV:hover {
    background-color: #111199ff;
    transform: rotate(730deg) scale(1.9);
    transition-delay: 0.1s;
    transition-duration: 7s;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }

  .rot {
    position: relative;
    float: left;
    width: 50%;
    max-width: 33%;
    height: 500px;
    margin: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    border: 2px solid;
    padding: 10px;
    text-align: center;
    transition-timing-function: cubic-bezier(0.42,0,0.58,1);
  }
  .rot:hover{
    transform: rotate(365deg);
    transition-delay: 0.1s;
    transition-duration: 20s;
  }
/*---------------------------Research---------------------------------*/
  .research-content {
    position: relative;
    float: left;
    height: 100%;
    width: 99.7%;
    border: 2px solid;
  }

  .page-head {
    position: relative;
    top: 7%;
    left: 20%;
    width: 900px;
    font-size: 33px;
  }

  .page-img {
    position: relative;
    top: 22%;
    float: right;
    padding: 4px;
    width: 50%;
    height: auto;
    transition: transform .8s;
    margin: 10px;
    border: 5px double;
  }

  .page-img:hover {
    border: 8px solid #222299ee ;
    padding: 1px;
  }

  .page-info {
    position: relative;
    top: 22%;
    float: left;
    left: 50px;
    padding: 50px;
    margin: 10px;
    height: 42%;
    width: 32%;
    border: 2px solid;
    background-color: #ffffff35;
  }

  .page-info:hover {
    transition-delay: 0.1s;
    transition-duration: 1s;
    background-color: #000000aa;
    color: #ffffffee;
    border: 12px double #ccccccee;
    padding: 40px;
  }
